{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["@babel/transform-runtime"],
    ["@babel/plugin-proposal-decorators",{"legacy":true}],
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@config": "./src/config",
          "@middleware": "./src/middleware",
          "@modules": "./src/modules",
          "@utils": "./src/utils",
          "@routes": "./src/routes",
          "@models": "./src/models",
          "@controllers": "./src/controllers",
          "@services": "./src/services",
          "@helpers": "./src/helpers",
          "@app": "./src/app.js"
        }
      }
    ]
  ],
  "env": {
    "debug": {
      "sourceMaps": "inline",
      "retainLines": true
    }
  }
}
